

.r-slider{
  height:70px;
  width:100%;
  font-size:12px;
}
.r-slider-point{
    border-radius:100%;
    background:blue;
  }
.r-slider-line{
  background:#ddd;    
}
.r-slider-number{
  font-family:'Arial';
  position:absolute;
  top:-24px;
  width:30px;
  padding:3px;
  box-sizing:border-box;
  background:#444;
  color:#fff;
  left:calc(50% - 15px);
  text-align: center;
  font-size:10px;
  border-radius:3px;
  line-height:10px;
}
.r-slider-number:before{
  content:'';
  position:absolute;
  width:0px;
  height:0px;
  top:calc(100% + 0px);
  left:calc(50% - 4px);
  border-top:7px solid #444;
  border-right:4px solid transparent;
  border-left:4px solid transparent;
}
.r-slider-pin{
  background:#ddd;
}
.r-slider-label{
  z-index:1000;
}




