#videoHeader {
    height: 100%;
    width: calc(2 * 100% / 12);
    padding: 0;
    overflow: hidden;
    background-color: #606062;
}
#videoHeader .scrolable {
    height: calc( 100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#videoHeader table {
    margin-bottom: 0;
}
#videoHeader th {
    text-align: center;
    background-color: #373737;
    color: white;
}
#videoHeader td {
    color: white;
    font-size: 12px;
    padding: 8px
}