#videoHeader {
    width: calc(2 * 100% / 12);
    height: calc( 9 / 16 * 5 / 12 * 100vw + 50px);
    padding: 0;
    overflow-y: hidden;
    background-color: #606062;
}
#videoHeader .scrolable {
    height: calc( 9 / 16 * 5 / 12 * 100vw);
    overflow-y: scroll;
}
#videoHeader table {
    margin-bottom: 0;
}
#videoHeader th {
    text-align: center;
    background-color: #373737;
    color: white;
}
#videoHeader td {
    color: white;
    font-size: 12px;
    padding: 8px
}