#settingModal .modal-dialog {
    max-width: none;
    width: 80%;
}
#settingModal .modal-body {
    height: 70vh;
    overflow-y: scroll;
}
#settingModal .equalizer-setting, .video-features-setting {
    margin-bottom: 96px;
}
#settingModal .equalizer-slider-container, .video-features-slider-container {
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 48px;
}