<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="keywords" content="video" />
        <meta name="description" content="video analize" />
        <!-- -----------jquery----------------------------------------------- -->
        <script src="{% static 'frontLibs/jquery.min.js' %}"></script>
        <!-- -----------jquery-ui-------------------------------------------- -->
        <script src="{% static 'frontLibs/jquery-ui/jquery-ui.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'frontLibs/jquery-ui/jquery-ui.min.css' %}">
        <!-- -----------bootstrap-------------------------------------------- -->
        <link
            rel="stylesheet"
            href="{% static 'frontLibs/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}"
        />
        <script src="{% static 'frontLibs/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
        <!-- -----------material-icon------------------------------------- -->
        <link href="{% static 'frontLibs/material-icon/icon.css' %}" rel="stylesheet">
        <!-- -----------hls video palyer---------------------------------- -->
        <script src="{% static 'frontLibs/hls.js' %}"></script>
        <!-- -----------no ui slider-------------------------------------- -->
        <script src="{% static 'frontLibs/noUiSlider-14.0.2/nouislider.min.js' %}"></script>
        <!-- -----------chart js------------------------------------------ -->
        <script src="{% static 'frontLibs/chart.js' %}"></script>
        <!-- -----------chart js plugin----------------------------------- -->
        <script src="{% static 'frontLibs/chartjs-plugin-doughnutlabel.min.js' %}"></script>
        <!-- -----------project styles ----------------------------------- -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/log.css' %}">
        <link rel="stylesheet" href="{% static 'css/equalizer.css' %}">
        <link rel="stylesheet" href="{% static 'css/videoFeatures.css' %}">
        <link rel="stylesheet" href="{% static 'css/setting.css' %}">
        <link rel="stylesheet" href="{% static 'frontLibs/noUiSlider-14.0.2/nouislider.min.css' %}">
    </head>

    <body>


        <div class="container-fluid">
            <!-- =================================================================================================================== -->
            <!-- ========= top part ================================================================================================ -->
            <!-- =================================================================================================================== -->
            <div class="row top-row top-container">
                <!-- ----------- video header details ---------------------------------------------------------------------- -->
                <div id="videoHeader" class="header">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" scope="col">Header</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrolable">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr class="source">
                                <td class="key">Video Codec</td>
                                <td class="value"></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- ----------- video player ----------------------------------------------------------------------------- -->
                <div class="video-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">URL :</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <button type="button" class="btn btn-dark">Start</button>
                    </div>
                    <div class="alert alert-warning mb-0" role="alert">
                        Syncing video and data ...
                    </div>
                    <div class="alert alert-danger mb-0" role="alert">
                    </div>
                    <div class="alert alert-primary" role="alert">
                    </div>
                    <video
                        id="video"
                        autoplay
                        controls
                        data-toggle="tooltip" title="equalizer"
                        class="video"
                    ></video>
                </div>
                <!-- ----------- log box --------------------------------------------------------------------------------- -->
                <div class="log">
                    <div style="overflow-y: scroll">
                        <table style="border-bottom: none" class="table table-bordered table-hover">
                            <thead>
                                <tr class="row">
                                    <th class="col-4">Features</th>
                                    <th class="col">Start</th>
                                    <th class="col">End</th>
                                    <th class="col">Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scrolable">
                        <table style="border-top: none" class="table table-bordered table-hover">
                            <tbody>
                                <tr class="source row">
                                    <td class="col-4" >
                                        <div>
                                            <img class="icon" src="" alt="icon">
                                            <span class="features"></span>
                                        </div>
                                    </td>
                                    <td class="col start"></td>
                                    <td class="col end"></td>
                                    <td class="col date"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-dark save">Save</button>
                    <button type="button" class="btn btn-dark clear">Clear</button>
                </div>
            </div>
            <!-- =================================================================================================================== -->
            <!-- ========= top part ================================================================================================ -->
            <!-- =================================================================================================================== -->
            <div class="row bottom-row bottom-container">
                <div class="equalizer">
                    <div class="equalizer-header">
                        <span class="first">Audio Features</span>
                        <span class="second">MOS:5</span>
                    </div>
                    <div class="table-keeper">
                    <div class="table">
                        <div class="table-header">
                            <div class="th source"></div>
                        </div>
                        <div class="table-body">
                            <div data-toggle="tooltip" title="equalizer" class="table-col source">
                                <div class="td source">
                                    <div class="left"></div>
                                    <div class="right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-footer">
                            <div class="footer-item source">
                                <img src="pic/icon/Letterboxing.png"></img>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="video-features">
                    <div class="top-part">
                        <div class="header">
                            <span class="first">Video Features</span>
                            <span class="second">MOS:3</span>
                        </div>
                        <div style="width: 100%;height: calc(100% - 40px);display: flex;overflow-y: scroll">
                        <div style="width: 100%;display: flex;justify-content: center">
                        <div class="chart-keeper">
                            <div style="width:120px;height:120px" class="chart-container source">
                                <canvas id="myCanvas"></canvas>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="bottom-part">
                        <div class="left col-4">
                            <div style="display: flex;flex-direction: column;align-items: flex-start;">
                            <div class="mute-detection">
                                <span class="icon">
                                    <img src="{% static 'pic/icon/Mute_Detection.png' %}" alt="mute detection">
                                    <span class="filter"></span>
                                </span>
                                <span  class="neon-text">Mute Detection</span>
                            </div>
                            <div class="audio-cliping">
                                <span class="icon">
                                    <img src="{% static 'pic/icon/Audio_Clipping.png' %}" alt="mute detection">
                                    <span class="filter"></span>
                                </span>
                                <span class="neon-text">Audio Clipping</span>
                            </div>
                            </div>
                        </div>
                        <div class="right col-8">
                            <div class="item-row">
                                <div style="width: fit-content">
                                <div class="frame-freezing">
                                    <span class="icon">
                                        <img src="{% static 'pic/icon/Frame_Freezing.png' %}" alt="mute detection">
                                        <span class="filter"></span>
                                    </span>
                                    <span  class="neon-text">Frame Freezing</span>
                                </div>

                                <div style="margin-top: 12px" class="black-frame">
                                    <span class="icon">
                                        <img src="{% static 'pic/icon/Black_Frame.png' %}" alt="mute detection">
                                        <span class="filter active"></span>
                                    </span>
                                    <span class="neon-text">Black Frame</span>
                                </div>
                                </div>
                            </div>


                            <div class="item-row">
                                <div style="width: fit-content">
                                <div class="color-gamut">
                                    <span class="icon">
                                        <img src="{% static 'pic/icon/Color_Gamut.png' %}" alt="mute detection">
                                        <span class="filter active"></span>
                                    </span>
                                    <span class="neon-text">Color Gamut</span>
                                </div>
                                <div style="margin-top: 12px" class="boxing">
                                    <span class="icon">
                                        <span class="filter"></span>
                                        <img src="{% static 'pic/icon/Pillarboxing.png' %}" alt="mute detection">
                                    </span>
                                    <span  class="neon-text">Boxing: Pillar</span>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- =================================================================================================================== -->
        <!-- ========= floating action button (setting modal) ================================================================== -->
        <!-- =================================================================================================================== -->
        <button type="button" class="btn btn-dark floating-button" data-toggle="modal" data-target="#settingModal"><i class="material-icons">build</i></button>



        <!-- =================================================================================================================== -->
        <!-- ========= setting modal =========================================================================================== -->
        <!-- =================================================================================================================== -->
        <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingModalLabel">Setting</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pt-5">
                    <div class="equalizer-setting source">
                        <p class="h5">First column</p>
                        <div class="col-12">
                            <label for="basic-url">Treshold value:</label>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <p style="margin-left: 12px" class="sm-text">Gradiant setting:</p>
                        <div class="equalizer-slider-container">
                            <div class="equalizer-slider"></div>
                        </div>
                    </div>
                    <div class="video-features-setting source">
                        <p class="h5">First column</p>
                        <div class="col-12">
                            <label for="basic-url">Treshold value:</label>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <p style="margin-left: 12px" class="sm-text">Gradiant setting:</p>
                        <div class="video-features-slider-container">
                            <div class="video-features-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#areYouSure">Reset to defualt</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary save" >Save changes</button>
                </div>
              </div>
            </div>
        </div>


        <!-- =================================================================================================================== -->
        <!-- ========= confirm modal =========================================================================================== -->
        <!-- =================================================================================================================== -->
        <div class="modal fade" id="areYouSure" tabindex="-1" role="dialog" aria-labelledby="areYouSureLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="areYouSureLabel">Warning</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>are you sure to reset settings?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary reset" data-dismiss="modal">Reset to Defualt</button>
                    </div>
                  </div>
                </div>
            </div>


    </body>
    <script src="{% static 'settings.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/log.js' %}"></script>
    <script src="{% static 'js/equalizer.js' %}"></script>
    <script src="{% static 'js/videoFeatures.js' %}"></script>
    <script src="{% static 'js/resize.js' %}"></script>
    <script src="{% static 'js/setting.js' %}"></script>
    <script src="{% static 'js/initialData.js' %}"></script>
    <script src="{% static 'js/connection.js' %}"></script>
</html>
